/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

#navbar {
  margin-bottom: 30px;
}

.home-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  color: #333;
}

/* Navbar styling */
.navbar {
  background-color: #333;
  padding: 20px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.navbar-title {
  color: white;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

/* Style the forms to display inline like the buttons */
.navbar-links form {
  display: inline-block;
  margin: 5px;
}

/* Button styles */
.navbar-links button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-links button:hover {
  background-color: #ddd;
}

.navbar-links button:focus {
  outline: none;
}

